In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('D:\\Udemy\\personal data science projects\\Arsenal\\2021-2022 season\\arsenal_match_preds\\2021-2022 season\\first_match.csv').drop(df.columns[[0]], axis=1)

In [8]:
df = pd.read_csv('first_match.csv').drop(df.columns[[0]], axis=1)

In [9]:
df

                         0   0.1
0               David Raya  7.60
1            Ethan Pinnock  7.57
2          Kristoffer Ajer  6.71
3           Pontus Jansson  6.92
4              Sergi Canós  8.78
5               Rico Henry  6.79
6       Christian Nørgaard  7.67
7            Vitaly Janelt  6.74
8             Frank Onyeka  7.06
9             Bryan Mbeumo  7.15
10              Ivan Toney  7.33
11           Mads Bidstrup  6.21
12      Mads Bech Sørensen  6.11
13            Marcus Forss  5.98
14           Mads Roerslev     -
15             Yoane Wissa     -
16           Saman Ghoddos     -
17        Halil Dervisoglu     -
18           Charlie Goode     -
19       Patrik Gunnarsson     -
20              Bernd Leno  5.78
21          Calum Chambers  6.34
22              Pablo Marí  6.49
23          Benjamin White  6.02
24          Kieran Tierney  6.88
25    Albert Sambi Lokonga  6.66
26            Granit Xhaka  6.97
27            Nicolas Pépé  6.67
28        Emile Smith Rowe  6.76
29      Gabriel Martinelli  6.07
30         Folarin Balogun  5.76
31            Nuno Tavares  6.08
32             Bukayo Saka  6.25
33            Reiss Nelson  6.04
34          Mohamed Elneny     -
35               Karl Hein     -
36           Cédric Soares     -
37         Héctor Bellerín     -
38  Ainsley Maitland-Niles     -
39             Rob Holding     -

In [10]:
df.columns=['players','ratings']

In [ ]:
a['Names'].str.lower().str.contains('mel').any()
goalkeeper=df[(df['players'].str.lower().str.contains('leno'))|(df['players'].str.lower().str.contains('xhaka'))]

In [32]:
goalkeeper=df[(df['players'].str.lower().str.contains('leno'))|(df['players'].str.lower().str.contains('xhaka'))]

In [33]:
goalkeeper

         players ratings
20    Bernd Leno    5.78
26  Granit Xhaka    6.97

In [46]:
goalkeeper['ratings']=goalkeeper['ratings'].apply(lambda x:(float(x)))

<ipython-input-46-006da23281ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goalkeeper['ratings']=goalkeeper['ratings'].apply(lambda x:(float(x)))

In [47]:
goalkeeper['ratings']

20    5.78
26    6.97
Name: ratings, dtype: float64

In [48]:
len(goalkeeper)

2

In [49]:
count=len(goalkeeper)
avg_gk_ratings=sum(goalkeeper['ratings'])/count

In [50]:
avg_gk_ratings

6.375